{% extends "moderator.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Moderator{% endblock %}
{% block contentheading %}Gestión de moderadores{% endblock %}
{% block moderatorcontent %}
    <table class="fillwidth highlightrows">
        <tbody>
            <tr>
                <th class="alignleft">Reportes de discusiones</th><th></th>
            </tr>


            {% for report in reports %}
                {% if report ['tipo'] == 1 %}
                <tr class="highlightable">
                    <td>{{ report }}</td>
                    <td class="alignleft">{{ button('grayBg', '/moderator/moderator/view?reportid=' + report['id']|string + '&redirect_to=/moderator/moderator', report['content']) }}</td> 
                    <td>{{submit_button('bluebg','Aceptar')}}
                    {{submit_button('redbg','Rechazar')}}</td>
                </tr>
                {%endif%}
            {% endfor %}

            <tr>
                <th class="alignleft">Reportes de respuesta</th><th></th>
            </tr>
            {% for reportanswer in reportsanswer %}
            <tr class="highlightable">
                <td>{{ reportanswer }}</td>
                {{reportanswer}}
                <td class="alignleft">{{ button('grayBg', '/moderator/moderator/view?reportanswerid=' + reportanswer['id']|string + '&redirect_to=/moderator/moderator', reportanswer['content']) }}</td> 
                <td>{{submit_button('bluebg','Aceptar')}}
                    {{submit_button('redbg','Rechazar')}}</td>
            </tr>
      
            {% endfor %} 

            <tr>
                <th class="alignleft">Reportes de comentarios</th><th></th>
            </tr>
            {% for reportcomment in reportscomment %}
            <tr class="highlightable">
                <td>{{ reportcomment }}</td>
                <td class="alignleft">{{ button('grayBg', '/moderator/moderator/view?reportcommentrid=' + reportcomment['id']|string + '&redirect_to=/moderator/moderator', reportcomment['content']) }}</td> 
                <td>{{submit_button('bluebg','Aceptar')}}
                    {{submit_button('redbg','Rechazar')}}</td>
            </tr>
      
            {% endfor %} 


            
            

        </tbody>
    </table>
    
{% endblock %}