{% extends "moderator.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block title %}{% block subtitle %}{% endblock %}Moderator{% endblock %}
{% block contentheading %}Gestión de moderadores{% endblock %}
{% block moderatorcontent %}
    <table class="fillwidth highlightrows">
        <tbody>
            <tr>
                <th class="alignleft">Título del informe</th><th></th>
            </tr>
            {% for report in reports %}
                <tr class="highlightable">
                    <td class="alignleft">{{ button('grayBg', '/moderator/moderator/view?reporttitle=' + report['title'] + '&redirect_to=/moderator/moderator', report['title']) }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
{% endblock %}