{% extends "moderator.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Vista del moderador{% endblock %}
{% block moderatorcontent %}


    
<dl>
    <h3><dt> {{ title }}</dt></h3> <h6>@Usuario 15/11/2022 20:00</h6>
    
    <textarea name="content" rows="10" cols="100" readonly> Este es el contenido de la discusión </textarea>
   
    <h3><dt>Respuesta</dt></h3> <h6>@Usuario 15/11/2022 20:30</h6>
    <textarea name="content" rows="10" cols="100" readonly> Esta es la respuesta a la pregunta </textarea>
    <br>
    <h3><dt>Comentario</dt></h3> <h6>@Usuario 15/11/2022 20:40</h6>
    <textarea name="content" rows="10" cols="100" readonly> Este es el comentario de la respuesta </textarea>
<br>

</dl>




   
{% endblock %}

