{% extends "discussion.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Crear nueva respuesta{% endblock %}
{% block discussioncontent %}
    <form action="/discussion/discussions/answer" method="post">
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <input type="hidden" name="discussionid" value="{{ discussion['id'] }}" />
        <dl>
            <h3><dt>{{ discussion['title'] }}</dt></h3>
           
            <p>{{ discussion['content'] }}</p>

            <h3><dt>Respuesta</dt></h3>
            <dd>
                <textarea name="content" rows="20" cols="100" placeholder="Escribe la respuesta..."></textarea>
            </dd>
            
        </dl>
        <p class="alignright">{{ submit_button('bluebg', 'Guardar cambios') }}{{ button('redbg', redirect_to, 'Cancelar') }}</p>
    </form>
{% endblock %}