{% extends "discussion.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Crear nuevo comentario{% endblock %}
{% block discussioncontent %}
    <form action="/discussion/discussions/comment" method="post">
        <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
        <dl>
            <dt>{{ title }}</dt>
            <dd>
                <textarea name="content" rows="3" cols="100" readonly> Esto sería el contenido </textarea>
            </dd>
            <dt>Respuesta</dt>
            <dd>
                <textarea name="content" rows="20" cols="100" readonly> Esto sería el contenido </textarea>
            </dd>
            <dt>Comentario</dt>
            <dd>
                <textarea name="content" rows="20" cols="100" >Escribe tu comentario...</textarea>
            </dd>
            
        </dl>
        <p class="alignright">{{ submit_button('bluebg', 'Guardar cambios') }}{{ button('redbg', redirect_to, 'Cancelar') }}</p>
    </form>
{% endblock %}